@model Models.Pathology.TestMasterModel;
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
    <h4>Add Doctor</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12 grider">
            <div class="widget well well-nice">
                <div class="widget-header">
                    <h4><i class="fa fa-list"></i> Add Test <small></small></h4>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <form id="itemForm" class="span12 form-horizontal">
                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset>
                                        <ul class="form-list label-left list-bordered dotted">
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="DepartmentAlias" class="control-label">Department: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.DropDownListFor(m => m.Department_Id, new SelectList(Model.PathologyDepartmentList, "Value", "Text"), "--Select--", new { @Class = "input-block-level", @onchange = "GetTestHeadMaster('P')" })
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="TestHeadAlias" class="control-label">Test Head: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <select class="input-block-level" id="TestHead_Id">
                                                            <option value="0" selected>--Select--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="TestNameAlias" class="control-label">Test Name: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtTestName" class="input-block-level" type="text" data-error="Please Enter Test Name." required />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="TestRateAlias" class="control-label">Test Rate:</label>
                                                    <div class="controls">
                                                        <input id="txtTestRate" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="FromRangeAlias" class="control-label">From Range: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtFromRange" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="ToRangeAlias" class="control-label">To Range:</label>
                                                    <div class="controls">
                                                        <input id="txtToRange" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="DefaultRangeAlias" class="control-label">Default Range: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtDefaultRange" class="input-block-level" type="text" data-error="Please Enter Mobile No." required />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="EmailIdAlias" class="control-label">Unit:</label>
                                                    <div class="controls">
                                                        <input id="txtUnit" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="TestTypeAlias" class="control-label">Test Type: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.DropDownListFor(m => m.TestType, new SelectList(Model.TestTypeMasterList, "Value", "Text"), "--Select--", new { @Class = "input-block-level" })
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="TestHeadAlias" class="control-label">Test Under:</label>
                                                    <div class="controls">
                                                        <input id="txtUnder" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="FormulaAlias" class="control-label">Formula:</label>
                                                    <div class="controls">
                                                        <input id="txtFormula" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="SpecializationAlias" class="control-label">Condition:</label>
                                                    <div class="controls">
                                                        <input id="txtMethod" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <label for="FormulaAlias" class="control-label">Interpretation:</label>
                                                <div class="controls">
                                                    <textarea id="interpretation" class="input-block-level" role="dialog" name="interpretation" type="text"></textarea>
                                                </div>
                                            </li>
                                            @*<script>
                                                CKEDITOR.replace("interpretation", {height: '170px',});
                                            </script>*@
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="controls" style="text-align:center;">
                                                    <button type="button" id="btnCreate" title="Save" data-toggle="tooltip" OnClick="TestOperations(0,'I')" class="btn btn-blue"><i class="fa fa-save"></i> Save</button>
                                                    <button type="button" id="btnUpdate" title="Update" data-toggle="tooltip" OnClick="TestOperations(0,'U')" class="btn btn-blue" disabled><i class="fa fa-edit"></i> Update</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // Widget -->
        </div>
        <!-- // Column -->
    </div>
</div>
<script src="~/lib/Script/Local/Pathology/TestMaster.js"></script>
