
@{
    ViewData["Title"] = "TestMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Department:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm" id="dtpGender">
                        <option value="0" selected>--Select--</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                    </select>
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Head:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm" id="dtpGender">
                        <option value="0" selected>--Select--</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Name:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Rate:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">From Range:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">To Range:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Default Value:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Unit:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Type:</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm" id="dtpGender">
                        <option value="0" selected>--Select--</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                    </select>
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Under:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Formula:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Condition:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="txtDOB">
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                    <button type="button" id="btnCreate" OnClick="LabStaffOperations(0,'I')" class="btn btn-outline-primary">Save</button>
                    <button type="button" id="btnUpdate" OnClick="LabStaffOperations(0,'I')" class="btn btn-outline-primary">Update</button>
                    <button type="button" id="btnExit" class="btn btn-outline-primary">Exit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-5" id="tblMasterList">
              <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Profile Details</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

