@model Models.Pathology.TestMasterModel;
<form>
    <div class="row">

        <div class="col-sm-12">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Department:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.PathologyDepartmentList, "Value", "Text"), "--Select--",
                                       new
                                       {
                                           @Class = "form-control form-control-sm",
                                           @onchange = "GetTestHeadMaster('M')"
                                       })
                </div>
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Head:<span class="mandatory"><b>*</b></span></label>
                <div class="col-sm-3">
                    <select class="form-control form-control-sm" id="TestHeadId">
                        <option value="0" selected>--Select--</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btnAddNew" onclick="AddTest()" class="form-control form-control-sm">AddTest</button>
                </div>
            </div>
            <div class="col-sm-12" id="tblMasterList">

            </div>
        </div>
        <div id="AddMaster" class="modal fade" data-keyboard="false" data-backdrop="static">
        </div>
    </div>
</form>
<script src="~/lib/Script/Local/Pathology/TestMaster.js"></script>
