@model Models.Pathology.TestBookingModel;
<div class="row-fluid">
    <div class="span12 grider">
        <div class="widget well well-nice">
            <div class="widget-header">
                <h4><i class="fa fa-list"></i> Booking List <small></small></h4>
                <div class="widget-tool"><a href="../TestBooking/TestBooking"class="btn btn-green btn-small btn-glyph"><i class="fa fa-plus"></i> New Booking</a></div>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <form id="itemForm" class="span12 form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                    <ul class="form-list label-left list-bordered dotted">
                                        <li class="control-group">
                                            <div class="span5">
                                                <label for="FromdateAlias" class="control-label">From Date: <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input type="text" class="input-block-level" id="txtFromDate">
                                                </div>
                                            </div>
                                            <div class="span5">
                                                <label for="ToDateAlias" class="control-label">To Date: <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input type="text" class="input-block-level" id="txtToDate">
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="widget-tool"><a class="btn btn-green btn-small btn-glyph" onclick="SearchBookingData(0,1)"><i class="fa fa-search"></i> Search</a></div>
                                            </div>
                                        </li>
                                        <li class="control-group" id="tblTestBookingList">

                                        </li>
                                        <!-- // form item -->
                                    </ul>
                                    <div id="FillTestResult" class="modal hide fadee" data-keyboard="false" data-width="90%" data-backdrop="static">

                                    </div>
                                    <div id="advanceDetails" class="modal hide fadee" data-keyboard="false" data-width="90%" data-backdrop="static">
                                    </div>

                                </fieldset>
                                <!-- // fieldset Input -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
</div>
@section scripts{
    <script>
        $(function () {
            $("#txtFromDate,#txtToDate").datepicker().datepicker("setDate", new Date());
        });
    </script>
}
<script src="~/lib/Script/Local/Pathology/FillTestResults.js"></script>

