@model Models.Pathology.TestMasterModel;
<div class="row-fluid">
    <div class="span6 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list"></i> Test List<small></small></h4>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <form id="itemForm" class="span12 form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                    <ul class="form-list label-left list-bordered dotted">
                                        <li class="control-group">
                                            <label for="DepartmentAlias" class="control-label">Department: <span class="required">*</span></label>
                                            <div class="controls">
                                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.PathologyDepartmentList, "Value", "Text"), "--Select--", new { @Class = "input-block-level", @onchange = "GetTestHeadMaster()" })
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                            <label for="TestHeadAlias" class="control-label">Test Head: <span class="required">*</span></label>
                                            <div class="controls">
                                                <select class="input-block-level" id="TestHeadId" onchange="GetTestDetails('')">
                                                    <option value="0" selected>--Select--</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="control-group" id="tblTestList">

                                        </li>
                                        <!-- // form item -->
                                        <!-- // form item -->
                                    </ul>
                                </fieldset>
                                <!-- // fieldset Input -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
    <div class="span6 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list"></i> Test List<small></small></h4>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <form id="itemForm" class="span12 form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                    <ul class="form-list label-left list-bordered dotted">
                                        <li class="control-group">
                                            <label for="DepartmentAlias" class="control-label">Profile: <span class="required">*</span></label>
                                            <div class="controls">
                                                @Html.DropDownListFor(m => m.ProfileId, new SelectList(Model.ProfileList, "Value", "Text"), "--Select--", new { @Class = "input-block-level", @onchange = "ProfileOperations(0,'')" })
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group" id="tblProfileDetailList">

                                        </li>
                                    </ul>
                                </fieldset>
                                <!-- // fieldset Input -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
    </div>
    <script src="~/lib/Script/Local/Pathology/ProfileMaster.js"></script>
