<div id="header-container">
    <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                
            </div>
        </div>
        <!-- // navbar -->
        <div class="header-drawer">
            <div class="mobile-nav text-center visible-phone"><a href="#" class="mobile-btn" data-toggle="collapse" data-target=".sidebar"><i class="aweso-icon-chevron-down"></i>Components</a> </div>
            <!-- // Resposive navigation -->
            <div class="breadcrumbs-nav hidden-phone">
                @*<ul id="breadcrumbs" class="breadcrumb">
                    <li><a href="javascript:void(0);"><i class="fontello-icon-home f12"></i>Dashboard</a> <span class="divider">/</span></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);">Table </a><span class="divider">/</span>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Table</a></li>
                            <li><a href="javascript:void(0);">Elements</a></li>
                            <li><a href="javascript:void(0);">Elements</a></li>
                            <li><a href="javascript:void(0);">Elements</a></li>
                        </ul>
                    </li>
                    <li class="active">Boo Admin </li>
                </ul>*@
            </div>
            <!-- // breadcrumbs -->
        </div>
        <!-- // drawer -->
    </div>
</div>
<!-- // header-container -->
