<header style="
    background: #fff;
    height: 51px;
    z-index: 9999; border-bottom: 1px solid #3477b3;" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center position-relative">
        <a href="#" rel="home" title="Free Bootstrap Themes and Website Templates" class="logo d-flex me-auto align-items-center">
            <img alt="BootstrapMade" src="~/lib/Script/Global/theme/img/logo.png" width="31" height="30"><p>Pathology<span>Software</span></p>
        </a>
        <nav class="nav-menu">
            <ul>
                <li class="nav-categories">
                    <a href="#">
                        <span>Patient</span>
                        <svg class="icon icon-chevron-down" fill="currentColor">
                            <use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-down" />
                        </svg>
                    </a>
                    <ul>
                        <li>
                            <svg class="icon icon-chevron-right" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-right" /></svg>
                            <a href="#">Patient Details</a><span>(80)</span>
                        </li>
                        <li>
                            <svg class="icon icon-chevron-right" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-right" /></svg>
                            <a href="#">Update Patient </a><span>(80)</span>
                        </li>
                        <li>
                            <svg class="icon icon-chevron-right" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-right" /></svg>
                            <a href="#">Delete Patient </a><span>(80)</span>
                        </li>
                    </ul>
                </li>
                <li class="nav-categories ">
                    <a href="#">
                        <span>Doctor</span><svg class="icon icon-chevron-down" fill="currentColor">
                            <use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-down" />
                        </svg>
                    </a>
                    <ul>
                        <li>
                            <svg class="icon icon-chevron-right" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-right" /></svg>
                            <a href="../bootstrap-4-templates/index.html">Bootstrap 4</a> <span>(80)</span>
                        </li>
                        <li>
                            <svg class="icon icon-chevron-right" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#chevron-right" /></svg>
                            <a href="#">Bootstrap 5</a> <span>(81)</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="#" class="mobile-nav-toggle mobile-nav-show d-lg-none" title="Toggle Menu">
            <svg class="icon icon-menu" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#menu" /></svg>
        </a>
        <a href="#" class="mobile-nav-toggle mobile-nav-hide" title="Close Menu">
            <svg class="icon icon-close" fill="currentColor"><use xlink:href="../lib/Script/Global/theme/img/icons-2.3.0.svg#close" /></svg>
        </a>
    </div>
</header>




