<div id="main-sidebar" class="sidebar sidebar-inverse">
    <div class="filler"></div>
    <div class="sidebar-item">
        <div class="media profile">
            <div class="media-thumb media-left thumb-bordereb">
                <a class="img-shadow" href="javascript:void(0);">
                    <img class="thumb" src="~/img/demo/demo-avatar9604.jpg">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">Twitter Bootstrap <small>as Administrator</small></h5>
                <p class="data">Last Access: 16 May 15:30</p>
            </div>
        </div>
    </div>
    <ul id="mainSideMenu" class="nav nav-list nav-side">
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#MasterData" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-tasks"></i> Master Data</a></div>
            <ul class="accordion-content nav nav-list collapse" id="MasterData">
                <li><a href="../MaintainMaster/MaintainMaster"><span class="hidden-tablet">Common Master</span> Demo 1 </a></li>
                <li><a href="../MaintainMaster/MaintainTestHead"><span class="hidden-tablet">Test Head Master</span> Demo 2 </a></li>
                <li><a href="../ProfileMaster/ProfileMaster"><span class="hidden-tablet">Profile Master</span> Demo 2 </a></li>
                <li><a href="../TestMaster/TestMaster"><span class="hidden-tablet">Test Master</span> Demo 2 </a></li>
            </ul>
        </li>
        <li class="accordion-group">
            <div class="accordion-heading active"><a href="#TestBooking" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-address-card-o"></i> Test Booking</a></div>
            <ul class="accordion-content nav nav-list collapse in" id="TestBooking">
                <li><a href="../FillTestResults/BookingDetails">Test Booking List </a></li>
            </ul>
        </li>
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#Doctors" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-user-md"></i> Doctor</a></div>
            <ul class="accordion-content nav nav-list collapse" id="Doctors">
                <li><a href="../Doctor/Doctor">Doctor's List </a></li>
            </ul>
        </li>
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#Users" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-user"></i> User</a></div>
            <ul class="accordion-content nav nav-list collapse" id="Users">
                <li><a href="../User/Users">User List</a></li>
                <li><a href="../LabStaff/Staff">Staff List</a></li>
            </ul>
        </li>
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#Company" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-cog"></i> Company Settings</a></div>
            <ul class="accordion-content nav nav-list collapse" id="Company">
                <li><a href="../Company/Company">Company List</a></li>
            </ul>
        </li>
    </ul>
    <!-- // sidebar menu -->k
    <div class="sidebar-item"></div>
    <!-- // sidebar item -->
</div>
<!-- // sidebar -->
