<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:800px">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="txtFname" class="col-sm-2 col-form-label col-form-label-sm">First Name:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtFname">
                            </div>
                            <label for="txtLname" class="col-sm-2 col-form-label col-form-label-sm">Last Name:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtLname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dpdGender" class="col-sm-2 col-form-label col-form-label-sm">Gender:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-sm" id="dpdGender">
                                    <option value="0" selected>--Select--</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                            <label for="txtDOB" class="col-sm-2 col-form-label col-form-label-sm">DOB:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtDOB">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtMobile" class="col-sm-2 col-form-label col-form-label-sm">Mobile No:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtMobile">
                            </div>
                            <label for="txtEmail" class="col-sm-2 col-form-label col-form-label-sm">Email Id:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtEmail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dpdMeritalStatus" class="col-sm-2 col-form-label col-form-label-sm">Merital Status:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-sm" id="dpdMeritalStatus">
                                    <option value="0" selected>--Select--</option>
                                    <option value="1">Single</option>
                                    <option value="2">Married</option>
                                </select>
                            </div>
                            <label for="dpdEmployeeType" class="col-sm-2 col-form-label col-form-label-sm">Employee Type:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-sm" id="dpdEmployeeType">
                                    <option value="0" selected>--Select--</option>
                                    <option value="1">Rception</option>
                                    <option value="2">LabTech</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtAddress" class="col-sm-2 col-form-label col-form-label-sm">Address:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="txtAddress">
                            </div>
                            <label for="dpdStatus" class="col-sm-2 col-form-label col-form-label-sm">Status:<span class="mandatory"><b>*</b></span></label>
                            <div class="col-sm-4">
                                <select class="form-control form-control-sm" id="dpdStatus">
                                    <option value="0" selected>--Select--</option>
                                    <option value="1">Active</option>
                                    <option value="2">Deactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-7">
                                <button type="button" id="btnCreate" OnClick="LabStaffOperations(0,'I')" class="btn btn-outline-primary">Save</button>
                                <button type="button" id="btnUpdate" OnClick="LabStaffOperations(0,'I')" class="btn btn-outline-primary">Update</button>
                                <button type="button" id="btnExit" data-dismiss="modal" class="btn btn-outline-primary">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div>
<script src="~/lib/Script/Local/Pathology/Staff.js"></script>