
@{ ViewData["Title"] = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<form>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-10">
               
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnAddNew" onclick="AddStaff()" class="form-control form-control-sm">Add Staff</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="AddStaff" class="modal fade" data-keyboard="false" data-backdrop="static">
        </div>
    </div>
</form>
<script src="~/lib/Script/Local/Pathology/Staff.js"></script>