@model Models.Pathology.MaintainMasterModel;
<div class="row-fluid">
    <div class="span6 grider">
        <div class="widget well well-nice">
            <div class="widget-header">
                <h4><i class="fa fa-plus"></i>Master List <small></small></h4>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <form id="itemForm" class="span12 form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <fieldset>
                                    <ul class="form-list label-left list-bordered dotted">
                                        <li class="control-group">
                                            <label for="MasterTitle" class="control-label">Master: <span class="required">*</span></label>
                                            <div class="controls">
                                                @Html.DropDownListFor(m => m.MID, new SelectList(Model.MasterList, "Value", "Text"), "--Select--", new { @Class = "input-block-level", @onchange = "MaintainMasterOperation(0,'S')" })
                                            </div>
                                        </li>
                                        <!-- // form item -->

                                        <li class="control-group">
                                            <label for="NameAlias" class="control-label">Name: <span class="required">*</span></label>
                                            <div class="controls">
                                                <input id="txtName" class="input-block-level" type="text" data-error="Please Enter Name." required />
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                            <label for="PrintNameAlias" class="control-label">Print Name: <span class="required">*</span></label>
                                            <div class="controls">
                                                <input id="txtPrintName" class="input-block-level" type="text" data-error="Please Enter Print Name." required />
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group" id="ListRate">
                                            <label for="RateAlias" class="control-label">Rate: <span class="required">*</span></label>
                                            <div class="controls">
                                                <input id="txtRate" class="input-block-level" type="text" value="0" />
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                            <label for="StatusAlias" class="control-label">Status: <span class="required">*</span></label>
                                            <div class="controls clearfix">
                                                <select class="input-block-level" id="dpdStatus" data-error="Please Select Status." data-class="btn-info" required>
                                                    <option value="0">--Select--</option>
                                                    <option value="1" selected>Active</option>
                                                    <option value="2">Deactive</option>
                                                </select>
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                            <label for="RemarksAlias" class="control-label">Remarks:</label>
                                            <div class="controls">
                                                <input id="txtRemarks" class="input-block-level" type="text" />
                                            </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                            <div class="controls">
                                                <button type="button" id="btnCreate" title="Save" data-toggle="tooltip" OnClick="MaintainMasterOperation(0,'I')" class="btn btn-blue"><i class="fa fa-save"></i> Save</button>
                                                <button type="button" id="btnUpdate" title="Update" data-toggle="tooltip"OnClick="MaintainMasterOperation(0,'U')" class="btn btn-blue" disabled><i class="fa fa-edit"></i> Update</button>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                <!-- // fieldset Input -->
                                <div class="form-actions">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->

    <div class="span6 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list glyph"></i> Master List</h4>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <fieldset>
                                <ul class="form-list list-bordered dotted">
                                    <li class="control-group" id="tblMasterList">

                                    </li>
                                    <!-- // form item -->
                                </ul>
                            </fieldset>
                            <!-- // fieldset Input -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
</div>
<script src="~/lib/Script/Local/Pathology/MaintainMaster.js"></script>