
@model Models.Pathology.CompanyModel;
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
    <h4>Add Doctor</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12 grider">
            <div class="widget well well-nice">
                <div class="widget-header">
                    <h4><i class="fa fa-list"></i>Add Company <small></small></h4>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <form id="itemForm" class="span12 form-horizontal">
                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset>
                                        <ul class="form-list label-left list-bordered dotted">
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="txtLabName" class="control-label">Lab Name: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtLabName" class="input-block-level" type="text" data-error="Please Enter Lab Name." required />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="txtLabSloganName" class="control-label">Slogan Name: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtLabSloganName" class="input-block-level" type="text" data-error="Please Enter Lab Name." required />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->

                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="txtPhoneNo" class="control-label">Phone No: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtPhoneNo" class="input-block-level" type="text" data-error="Please Enter Phone No." required />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="txtEmailId" class="control-label">Email Id:</label>
                                                    <div class="controls">
                                                        <input id="txtEmailId" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="txtWebSite" class="control-label">WebSite: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtWebSite" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="dpdStatus" class="control-label">Status:<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <select class="input-block-level" id="dpdStatus">
                                                            <option value="0">--Select--</option>
                                                            <option value="1" selected>Active</option>
                                                            <option value="2">Deactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="AddressAlias" class="control-label">Address: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="txtAddress" class="input-block-level" type="text" />
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="StatusAlias" class="control-label">Lab Logo:<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="atchLabLogo" class="input-block-level" type="file" />
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="controls" style="text-align:center;">
                                                    <button type="button" id="btnCreate" title="Save" data-toggle="tooltip" OnClick="CompanyOperation(0,'I')" class="btn btn-blue"><i class="fa fa-save"></i> Save</button>
                                                    <button type="button" id="btnUpdate" title="Update" data-toggle="tooltip" OnClick="CompanyOperation(0,'U')" class="btn btn-blue" disabled><i class="fa fa-edit"></i> Update</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                    <!-- // fieldset Input -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // Widget -->
        </div>
        <!-- // Column -->
    </div>
</div>
<script src="~/lib/Script/Local/Pathology/Company.js"></script>